<h3>Tweet詳細</h3>
<div class="tweet">
  <p><%= @tweet.target %></p>
  <p><%= @tweet.created_at %></p>
</div>
<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>
  <% @tweet.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>
  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
<%= link_to "Tweet一覧に戻る", tweets_path %>